 <div class="user-details">
  <h1 style = "text-decoration: underline; text-decoration-thickness: 5px; text-underline-offset: 12px;">About Me</h1>
  <div style="display: flex; align-items: center; gap: 20px;">
    <div style="flex: 0 0 auto;">
      <img src="assets/img/배아람.jpg" alt="배아람" style="max-width: 250px; border-radius: 10px;">
    </div>
    <div style="flex: 1;">
      <p style="text-align: left;"> {{site.user_description}}</p>
    </div>
  </div></div>
</div>
  <div class="user">
    <div class="tech">
      <h2 style = "text-decoration: underline; text-decoration-thickness: 2px; text-underline-offset: 12px;">Code</h2>
      <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-rstudio-plain colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2 style = "text-decoration: underline; text-decoration-thickness: 2px; text-underline-offset: 12px;">Database</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <p></p>
    </div>
    <div class="tech">
      <h2 style = "text-decoration: underline; text-decoration-thickness: 2px; text-underline-offset: 12px;">Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>  
      <i class="devicon-openapi-plain-wordmark"></i>
      <p></p>
    </div>
</div>
